@import "variables.scss";


.bloqueMain{
    width: 100%;
    padding: 10px 0px;
    .bloquePrincipal{
        width: 600px;
        height: 280px;
        padding: 40px;
        background: rgba(255, 106, 106, 0.804);
        box-shadow: 0px 0px 10px red;
        position: relative;
        transform: skew(-5deg);
        margin-top: 100px;
        margin-left: 100px;
        border-radius: 20px;
        .bloquePrincipal__title{
            font-size: 40px;
            color: white;
        }
        .bloquePrincipal__descripcion{
            color: white;
        }
        .bloquePrincipal__imagen{
            width: 100px;
            height: 100px;
            position: absolute;
            top: -50px;
            left: -50px;
        }
        .bloquePrincipal__imagenPie{
            width: 100px;
            height: 100px;
            position: absolute;
            border-bottom: 0;
            right: 0;
        }
    }




    .bloquePrincipal2{
        width: 600px;
        height: 280px;
        padding: 40px;
        background: rgba(52, 106, 255, 0.716);
        box-shadow: 0px 0px 10px rgb(6, 26, 248);
        position: relative;
        transform: skew(-5deg);
        margin-top: 100px;
        margin-left: 500px;
        border-radius: 20px;
        .bloquePrincipal__title2{
            font-size: 40px;
            color: white;
        }
        .bloquePrincipal__descripcion2{
            color: white;
        }
        .bloquePrincipal__imagen2{
            width: 100px;
            height: 100px;
            position: absolute;
            top: -50px;
            left: -50px;
        }
        .bloquePrincipal__imagenPie2{
            width: 100px;
            height: 100px;
            position: absolute;
            border-bottom: 0;
            right: 0;
        }
    }
}

