@import "variables.scss";


.bloqueMain{
    width: 100%;
    padding: 10px 0px;
    position: relative;
    .bloquePrincipal{
        width: 600px;
        height: 280px;
        padding: 40px;
        background: rgba(255, 50, 50, 0.774);
        box-shadow: 0px 5px 5px rgb(0, 0, 0);
        position: relative;
        transform: skew(-5deg);
        margin-top: 100px;
        margin-left: 200px;
        border-radius: 20px;
        .bloquePrincipal__title{
            font-size: 40px;
            color: rgb(255, 255, 255);
        }
        .bloquePrincipal__descripcion{
            color: rgb(255, 255, 255);
        }
        .bloquePrincipal__imagen{
            width: 300px;
            height: 300px;
            position: absolute;
            top: -150px;
            left: -180px;
        }
        .bloquePrincipal__imagenPie{
            width: 80px;
            height: 80px;
            position: absolute;
            border-bottom: 0;
            right: 10px;
            bottom: 10px;
            
        }
    }

    .bloquePrincipal2{
        width: 600px;
        height: 280px;
        padding: 40px;
        background: rgba(244, 255, 33, 0.716);
        box-shadow: 0px 5px 5px rgb(0, 0, 0);
        position: relative;
        transform: skew(-5deg);
        margin-top: 150px;
        margin-left: 500px;
        border-radius: 20px;
        .bloquePrincipal__title2{
            font-size: 40px;
            color: rgb(255, 39, 39);
        }
        .bloquePrincipal__descripcion2{
            color: rgb(0, 0, 0);
        }
        .bloquePrincipal__imagen2{
            width: 400px;
            height: 400px;
            position: absolute;
            top: -50px;
            left: -340px;
        }
        .bloquePrincipal__imagenPie2{
            width: 80px;
            height: 80px;
            position: absolute;
            border-bottom: 0;
            right: 10px;
            bottom: 10px;
        }
    }


    .bloquePrincipal3{
        width: 600px;
        height: 280px;
        padding: 40px;
        background: rgba(16, 107, 127, 0.716);
        box-shadow: 0px 5px 5px rgb(0, 0, 0);
        position: relative;
        transform: skew(-5deg);
        margin-top: 100px;
        margin-left: 400px;
        border-radius: 20px;
        .bloquePrincipal__title3{
            font-size: 40px;
            color: rgb(255, 255, 255);
        }
        .bloquePrincipal__descripcion3{
            color: rgb(255, 255, 255);
        }
        .bloquePrincipal__imagen3{
            width: 200px;
            height: 200px;
            position: absolute;
            top: 0px;
            left: -250px;
        }
        .bloquePrincipal__imagenPie3{
            width: 80px;
            height: 80px;
            position: absolute;
            border-bottom: 0;
            right: 10px;
            bottom: 10px;
        }
    }


    .bloquePrincipal4{
        width: 600px;
        height: 280px;
        padding: 40px;
        background: rgba(0, 14, 53, 0.716);
        box-shadow: 0px 5px 5px rgb(0, 0, 0);
        position: relative;
        transform: skew(-5deg);
        margin-top: 150px;
        margin-left:320px;
        border-radius: 20px;
        .bloquePrincipal__title4{
            font-size: 40px;
            color: white;
        }
        .bloquePrincipal__descripcion4{
            color: white;
        }
        .bloquePrincipal__imagen4{
            width: 300px;
            height: 380px;
            position: absolute;
            top: -50px;
            left: -230px;
        }
        .bloquePrincipal__imagenPie4{
            width: 80px;
            height: 80px;
            position: absolute;
            border-bottom: 0;
            right: 10px;
            bottom: 10px;

        }
    }


    //FIGURA FLOTANTE
    .figura__flotante{
        width: 500px;
        height: 800px;
        position: absolute;
        bottom: 400px;
        right: 100px;
        z-index: -1;
        opacity: 0.8;
    }
}

