@import "variables";

.bloque__main{
    width: 100%;
    max-width: 1240px;
    padding: 10px 0px;
    background:brown;
    margin: auto;
    .menu{
        width: 100%;
        padding: 10px 0px;
        background:$color-negro;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .menu__logo{
            margin-left: 20px;
            width: 90px;
            height: 70px;
        }

        .menu__nav{
            width: 400px;
            padding: 10px 0px;
            //background: black;
            margin-right: 20px;

            .menu__navUl{
                width: 100%;
                padding: 5px 0px;
                //background:rgb(52, 52, 52);
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
                .menu__navUlLi{
                    width: 30%;
                    padding: 5px 0px;
                    background:$color-verde-oscuro;
                    list-style: none;
                    text-align: center;
                    transform: skew(-5deg);
                    transition: 0.2s all;
                    .liLink{
                        text-decoration: none;
                        color: $color_blanco;
                        transition: 0.2s all;

                    }
                }

                .menu__navUlLi:hover{
                    background: $color_blanco;
                    cursor: pointer;
                    .liLink{
                        color: $color-negro;
                        font-weight: 700;
                    }
                }


                
            }
           

        }

    
        .menu__btnHamburguesa{
            margin-right: 20px;
            width: 50px;
            height: 50px;
            background: black;
            display: none;
        }
       


    }


    /********************************/
    .banner{
        margin: 10px 0px;
        width: 100%;
        padding: 50px 20px;
        background:$color_blanco;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        .banner__bloqueLeft{    
            width:600px;
            padding: 100px 0px;
            background: $color_blanco;
            text-align: center;
            .banner__title{
                margin-top: 50px;
                color: $color-negro;
                font-size:120px;
                line-height: 90px;
                letter-spacing: -5px;
                
            }
            .banner__subTitle{
                
                color: $color-verde-oscuro;
                font-size: 40px;
                letter-spacing: 11px;
            }
        }

        .banner__bloqueRight{
            width: 500px;
            height: 650px;
            padding: 10px;
            color: white;   
        }
      
    }


    /********************************/
    .servicios{
        margin: 30px auto;
        width: 100%;
        padding: 10px 0px;
        background: $color-verde-oscuro;
        .servicios__bloque{
            width: 100%;
            padding: 10px 0px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: flex-start;
            .servicios__bloque_subBloque{
                width: 360px;
                height: 210px;
                padding: 10px;   
                margin: 25px 0px;
                position: relative;
                background: yellow;
                .subBloque__figureText{
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content:flex-start;
                    align-items: center;
                    position: relative;
                    .figure{
                        width: 100px;
                        height: 100px;
                        border-radius: 50%;
                        overflow:hidden;
                        position: relative;
                        z-index: 100;
                        border: 2px solid white;
                        padding: 15px;
                    }
                    .legenda{
                        width: 200px;
                        padding: 10px 20px;
                        margin-left: -10px;
                        background: rgb(255, 255, 255);
                        border-radius: 0px 20px 20px 0px;
                        border: 2px solid white;
                        line-height: 25px;
                    }
                }
                .subBloque__text{
                    width: 60%;
                    padding: 2px;
                    position: absolute;
                    right: 10px;
                    bottom: 10px;
                }

            }
        
        }
    }


    /*******************************/
    .footer{
        width: 100%;
        padding: 30px 0px;
        background: black;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        .footer__banner{
            width: 500px;
            height: 320px;
            padding: 20px;
            background: rgb(68, 68, 68);
            position: relative;

            .footer__banner__text{
                font-size: 70px;
                color: white;
                font-weight: 700;
                letter-spacing: -2px;
                line-height: 60px;
            }

            .footer__banner__img{
                width: 100px;
                height: 100px;
                background: black;
                position: absolute;
                bottom: 0px;
                right: 50px;
            }
            
        }

        .footer__redesNav{
            width: 400px;
            padding: 5px 0px;
            background: rgb(49, 49, 49);
            .footer__redes{
                width: 180px;
                margin: auto;
                background: rgb(77, 77, 77);
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
                .footer__redes{
                    width: 50px;
                    height: 50px;
                }
            }
    
            .footer__nav{
                width: 100%;
                background: rgb(47, 47, 47);
                .footer__navUl{
                width: 100%;
                padding: 5px 0px;
                background: rgb(47, 47, 47);
                display: flex;
                flex-direction: row;
                justify-content: center;
                    .footer__navUlLi{
                    width: 200px;
                    padding: 10px 0px;
                    list-style: none;
                    background: rgb(102, 102, 102);
                    text-align: center;
                        .footer_liLink{
                            text-decoration: none;
                            color: white;
                        }
                    }
                }
            }
        }
        
    }
    
    
    
    

}


