@import "variables";


.continer__main{
    width: 100%;
    max-width: 1240px;
    margin: auto;
    background-image:url(../images/SERV4.jpg);
    background-size: 100% 100%;
    background-attachment: fixed;
    .main__base{
        width: 100%;
        height: 100%;
        padding: 40px 0px;
        background: rgba(255, 255, 255, 0.851)  ;
        .container{
            width: 100%;
            padding: 10px 0px;
            margin: auto;
            border: 2px solid rgba(255, 255, 255, 0.199);
            position: relative;
            
            .container__legend{
                width: 45%;
                margin: auto;
                text-align: center;
                padding: 10px;
                .legend__title{
                    font-size: 40px;
                    font-weight: 700;
                    color: $color_verde;
                    font-family: Poppins;
                    //text-shadow: 2px 2px 2px$color_azul;
                   
                }
                .legend__legend{
                    margin-top: -12px;
                    font-size: 25px;
                    font-family: Poppins;
                    font-weight: 300;
                    
                }

                .container_linea{
                    width: 180px;
                    height: 4px;
                    margin: 10px auto;
                    background: $color-verde;
                }

                .container__nav{
                    margin: auto;
                    width: 80%;
                    //padding: 5px;

                    .container__nav_ul{
                        margin: auto;
                        //background: yellow;
                        .container__nav_ul_li{
                            list-style: none;
                            padding:5px ;
                            .icon{
                                font-size: 22px;
                                color:$color-verde;
                                padding: 0px 5px;

                            }
                            .link{
                                text-align: center;
                                text-decoration: none;
                                font-size: 18px;
                                color:$color-verde;
                                padding: 0px 5px;
                                border-left: 2px solid $color_verde;
                                transition: 0.3s all;
                            }
                            &:hover{
                                .link{
                                    color:$color-verde-oscuro;
                                    

                                }
                            }
                        }
                    }
                }

                .legend__description{
                    width: 100%;
                    margin: 15px auto;
                    font-size: 18px;
                    font-family: Poppins;
                    font-weight: 100;
                }
            }

            .container__photo{
                width: 180px;
                height: 180px;
                border: 3px solid $color_verde;
                border-radius: 50%;
                overflow: hidden;
                margin: 10px auto;
            }

            .container__imagen{
                width: 420px;
                height: 420px;
                margin: -10px auto;
                
            }
        
            .containerBase__block{
                width: 100%;
                padding: 0px 0px;
                margin: 10px auto;

                .baseBlock{
                    width: 70%;
                    padding:0px 0px;
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;
                    margin: auto;
                    .container__block{
                        width: 100%;
                        padding: 8px 10px;
                        margin:10px;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-around;
                        align-items: center;
                        //BLOC      K ICON
                        .base__icon{
                            background: $color_azul;    
                            padding: 8px;
                            border-radius: 5px;
                            border: 4px solid $color-verde-oscuro;
                            transform: rotate(45deg);
                            box-shadow: -2.5px 2.5px 2px $color_orange;
                            transition:0.3s all;
                            overflow: hidden;
                            background: rgba(255, 255, 255, 255);

                            .block__icon{
                                width: 35px;
                                height: 35px;
                                overflow: hidden;
                                transform: rotate(-45deg);
                                transition-duration:0.3s;
                                transition-delay: 0.2s;

                            }
                        }
                        
                        //BLOCK DESCRIPTION
                        a{
                            width:180px;
                            text-decoration: none;
                            color: white;
                            font-size: 16px;
                            background: rgb(25,31,45);
                            padding: 8px;
                            border-radius: 0px 20px 20px 0px;
                            margin-left: -25px;
                            border:3px solid $color_orange;
                            transition: 0.3s;
                            .block__legend{
                                width:150px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                font-size: 14px;
                                font-weight: 100;
                                color: white;
                            }
                        }

                        &:hover{
                            .base__icon{
                                border: 6px solid $color_orange;
                                transform: rotate(90deg);
                                .block__icon{
                                    transform: rotate(-90deg);
                                }
                            }

                            a{
                                width:200px;
                            }   
                        }   
                    }

                   
                }
                
            }

            .huella1{
                width: 140px;
                height: 140px;
                position:absolute;
                top: 380px;
                left: 350px;
                animation-name: moverPatas;
                animation-duration: 4s;
                animation-timing-function: ease-in;
                animation-iteration-count: infinite;
                animation-direction: alternate;
                
            }
            
            .huella2{
                width: 140px;
                height: 140px;
                position:absolute;
                top: 280px;
                right: 350px;
                animation-name: moverPatas;
                animation-duration: 4s;
                animation-timing-function: ease-in;
                animation-iteration-count: infinite;
                animation-direction: alternate;
            }

            @keyframes moverPatas {
                from{
                    transform: scale(1,1);
                }to{
                    transform: scale(0.9,0.9);

                }
            }

            /*
            .container__bloque{
                width: 62%;
                padding: 10px 0px;
                //background: rgba(167, 161, 161, 0.537);
                margin: auto;
                display: flex;
                justify-content: space-around;
                align-items: flex-start;


                //CUADRO RIGHT
                .container__sobreMi{
                    width: 350px;
                    height: 330px;
                    padding: 20px 30px;
                    background:$color-negro;
                    border-radius: 10px;
                    box-shadow: 0px 0px 10px $color-negro;

                    .container__sobreMi__title{
                        font-size: 22px;
                        text-align: center;
                        color: $color-verde;
                        line-height: 25px;
                        font-weight: 700;
                        
                    }

                    .container__sobreMi__img{
                        width: 120px;
                        height: 120px;
                        margin: 5px auto;
                    }

                    .container__sobreMi__matricula{
                        color: $color_blanco;
                        font-size: 12px;    
                    }
                   
                }
                

                //CUADRO LEFT
                .container__servicios{
                    width: 350px;
                    height: 330px;
                    padding: 20px 30px;
                    background:$color_blanco;
                    border-radius: 10px;
                    box-shadow: 0px 0px 10px $color-negro;
                    .container__servicios_title{
                        font-size: 28px;
                        color: $color-verde;
                        font-weight: 700;
                    }
                    .container__servicios_text{
                        margin-top: 12px;
                        font-size: 16px;
                        .icons{
                            color: $color-verdea;
                        }
                    }
                }
            }
            */

            .footer__text{
                margin-top: 30px;
                text-align: center;
                font-size: 14px;
                padding: 10px 0px;
                font-weight: 300;
                .span{
                    color:$color_orange;
                }
            }
            
        }

    }

    


}









/*******************************************
*******************************************/
@media (min-width:771px) and (max-width:1024px){
    .continer__main{
        width: 100%;
        max-width: initial;
        margin: auto;
        background-image:url(../images/SERV4.jpg);
        background-size: 100% 100%;
        background-attachment: fixed;
        .main__base{
            width: 100%;
            height: 100%;
            padding: 40px 0px;
            background: rgba(255, 255, 255, 0.851)  ;
            .container{
                width: 100%;
                padding: 10px 0px;
                margin: auto;
                border: 2px solid rgba(255, 255, 255, 0.199);
                position: relative;
                .container__legend{
                    width: 85%;
                    margin: auto;
                    text-align: center;
                    padding: 10px;

                    .legend__title{
                        font-size: 45px;
                        font-weight: 700;
                        color: $color_verde;
                        font-family: Poppins;
                        //text-shadow: 2px 2px 2px$color_azul;
                       
                    }
                    .legend__legend{
                        margin-top: -12px;
                        font-size: 25px;
                        font-family: Poppins;
                        font-weight: 300;
                        
                        
                    }
    
                    .container_linea{
                        width: 35%;
                        height: 4px;
                        margin: 10px auto;
                        background: $color-verde;
                    }
    
                    .container__nav{
                        margin: auto;
                        width: 80%;
                        //padding: 5px;
    
                        .container__nav_ul{
                            margin: auto;
                            //background: yellow;
                            .container__nav_ul_li{
                                list-style: none;
                                padding:5px ;
                                .icon{
                                    font-size: 22px;
                                    color:$color-verde;
                                    padding: 0px 5px;
    
                                }
                                .link{
                                    text-align: center;
                                    text-decoration: none;
                                    font-size: 18px;
                                    color:$color-verde;
                                    padding: 0px 5px;
                                    border-left: 2px solid $color_verde;
                                    transition: 0.3s all;
                                }
                                &:hover{
                                    .link{
                                        color:$color-verde-oscuro;
                                        
    
                                    }
                                }
                            }
                        }
                    }
    
                    .legend__description{
                        width: 90%;
                        margin: 15px auto;
                        font-size: 18px;
                        font-family: Poppins;
                        font-weight: 100;
                    }
                }
    
                .container__photo{
                    width: 180px;
                    height: 180px;
                    border: 3px solid $color_verde;
                    border-radius: 50%;
                    overflow: hidden;
                    margin: 10px auto;
                }
    
                .container__imagen{
                    width: 420px;
                    height: 420px;
                    margin: -10px auto;
                    
                }
            
                .containerBase__block{
                    width: 80%;
                    padding: 0px 0px;
                    margin: 10px auto;

                    .baseBlock{
                        width: 100%;
                        padding:0px 0px;
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-start;
                        align-items: center;
                        margin: auto;
                        .container__block{
                            width: 100%;
                            padding: 8px 10px;
                            margin:10px;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-around;
                            align-items: center;
                            //BLOC      K ICON
                            .base__icon{
                                background: $color_azul;
                                padding: 5px;
                                border-radius: 5px;
                                border: 4px solid $color-verde-oscuro;
                                transform: rotate(45deg);
                                box-shadow: -2.5px 2.5px 2px $color_orange;
                                transition:0.3s all;
                                overflow: hidden;
                                background:$color_blanco;
    
                                .block__icon{
                                    width: 40px;
                                    height: 40px;
                                    overflow: hidden;   
                                    transform: rotate(-45deg);
                                    transition-duration:0.3s;
                                    transition-delay: 0.2s;
    
                                }
                            }
                            
                            //BLOCK DESCRIPTION
                            a{
                                margin-top: 15px;
                                width:180px;
                                text-decoration: none;
                                color:$color_blanco;
                                font-size: 16px;
                                background: $color-negro;
                                box-shadow: 0px 2px 3px $color-negro;
                                padding: 6px;
                                border-radius: 10px;
                                margin-left: initial;
                                border:2px solid $color_orange;
                                transition: 0.3s;
                                .block__legend{
                                    width:100%;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    font-size: 14px;
                                    font-weight: 100;
                                    color: white;
                                }
                            }
    
                            &:hover{
                                .base__icon{
                                    border: 6px solid $color_orange;
                                    transform: rotate(90deg);
                                    .block__icon{
                                        transform: rotate(-90deg);
                                    }
                                }
    
                                a{
                                    width:180px;
                                    border:1px solid $color_white;
                                    box-shadow: 3px 0px 0px $color_white;
                                }   
                            }   
                        }
    
                       
                    }
                    
                }
    
                .huella1{
                    width: 140px;
                    height: 140px;
                    position:absolute;
                    top: 420px;
                    left: calc(50% - 280px);
                    animation-name: moverPatas;
                    animation-duration: 4s;
                    animation-timing-function: ease-in;
                    animation-iteration-count: infinite;
                    animation-direction: alternate;
                    
                }
                
                .huella2{
                    width: 140px;
                    height: 140px;
                    position:absolute;
                    top: 350px;
                    right: calc(50% - 250px);
                    animation-name: moverPatas;
                    animation-duration: 4s;
                    animation-timing-function: ease-in;
                    animation-iteration-count: infinite;
                    animation-direction: alternate;
                }
    
                @keyframes moverPatas {
                    from{
                        transform: scale(1,1);
                    }to{
                        transform: scale(0.9,0.9);
    
                    }
                }
    
                /*
                .container__bloque{
                    width: 62%;
                    padding: 10px 0px;
                    //background: rgba(167, 161, 161, 0.537);
                    margin: auto;
                    display: flex;
                    justify-content: space-around;
                    align-items: flex-start;
    
    
                    //CUADRO RIGHT
                    .container__sobreMi{
                        width: 350px;
                        height: 330px;
                        padding: 20px 30px;
                        background:$color-negro;
                        border-radius: 10px;
                        box-shadow: 0px 0px 10px $color-negro;
    
                        .container__sobreMi__title{
                            font-size: 22px;
                            text-align: center;
                            color: $color-verde;
                            line-height: 25px;
                            font-weight: 700;
                            
                        }
    
                        .container__sobreMi__img{
                            width: 120px;
                            height: 120px;
                            margin: 5px auto;
                        }
    
                        .container__sobreMi__matricula{
                            color: $color_blanco;
                            font-size: 12px;    
                        }
                       
                    }
                    
    
                    //CUADRO LEFT
                    .container__servicios{
                        width: 350px;
                        height: 330px;
                        padding: 20px 30px;
                        background:$color_blanco;
                        border-radius: 10px;
                        box-shadow: 0px 0px 10px $color-negro;
                        .container__servicios_title{
                            font-size: 28px;
                            color: $color-verde;
                            font-weight: 700;
                        }
                        .container__servicios_text{
                            margin-top: 12px;
                            font-size: 16px;
                            .icons{
                                color: $color-verdea;
                            }
                        }
                    }
                }
                */
    
                .footer__text{
                    margin-top: 30px;
                    text-align: center;
                    font-size: 14px;
                    padding: 10px 0px;
                    font-weight: 300;
                    .span{
                        color:$color_orange;
                    }
                }
                
            }
    
        }
    
        
    
    
    }
    
}






/*******************************************
*******************************************/
@media (min-width:481px) and (max-width:770px){
    .continer__main{
        width: 100%;
        max-width: initial;
        padding:initial;
        margin: auto;
        background-image:url(../images/SERV4.jpg);
        background-size: 100% 100%;
        background-attachment: fixed;
        .main__base{
            width: 100%;
            height: 100%;
            padding:initial;
            background: rgba(255, 255, 255, 0.851);
            background: yellow;

            .container{
                width: 100%;
                padding: initial;
                margin: auto;
                border:initial;
                position: relative;

                .container__legend{
                    width:100%;
                    margin: auto;
                    text-align: center;
                    padding: 50px 20px;
                    .legend__title{
                        font-size: 45px;
                        font-weight: 700;
                        color: $color_verde;
                        font-family: Poppins;
                        //text-shadow: 2px 2px 2px$color_azul;
                       
                    }
                    .legend__legend{
                        margin-top: -12px;
                        font-size: 20px;
                        font-family: Poppins;
                        font-weight: 300;
                        
                        
                    }
    
                    .container_linea{
                        width: 35%;
                        height: 4px;
                        margin: 10px auto;
                        background: $color-verde;
                    }
    
                    .container__nav{
                        margin: auto;
                        width: 80%;
                        //padding: 5px;
    
                        .container__nav_ul{
                            margin: auto;
                            //background: yellow;
                            .container__nav_ul_li{
                                list-style: none;
                                padding:5px ;
                                .icon{
                                    font-size: 22px;
                                    color:$color-verde;
                                    padding: 0px 5px;
    
                                }
                                .link{
                                    text-align: center;
                                    text-decoration: none;
                                    font-size: 18px;
                                    color:$color-verde;
                                    padding: 0px 5px;
                                    border-left: 2px solid $color_verde;
                                    transition: 0.3s all;
                                }
                                &:hover{
                                    .link{
                                        color:$color-verde-oscuro;
                                        
    
                                    }
                                }
                            }
                        }
                    }
    
                    .legend__description{
                        width: 90%;
                        margin: 15px auto;
                        font-size: 16px;
                        font-family: Poppins;
                        font-weight: 100;
                        
                    }
                }
    
                .container__photo{
                    width: 180px;
                    height: 180px;
                    border: 3px solid $color_verde;
                    border-radius: 50%;
                    overflow: hidden;
                    margin: 10px auto;
                }
    
                .container__imagen{
                    width: 420px;
                    height: 420px;
                    margin: -10px auto;
                    
                }
            
                .containerBase__block{
                    width: 100%;
                    padding: 0px 0px;
                    margin: 10px auto;

                    .baseBlock{
                        width: 65%;
                        padding:0px;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-around;
                        align-items: flex-start;
                        margin: auto;
                        .container__block{
                            width: 80px;
                            padding: 8px 0px;
                            margin:10px auto;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-around;
                            align-items: center;
                            //BLOCK ICON
                            .base__icon{
                                background: $color_azul;
                                padding: 2px;
                                border-radius: 5px;
                                border: 6px solid $color-verde-oscuro;
                                transform: rotate(45deg);
                                box-shadow: -2.5px 2.5px 2px $color_orange;
                                transition:0.3s all;
                                overflow: hidden;
                                background:$color_blanco;
    
                                .block__icon{
                                    width: 45px;
                                    height: 45px;
                                    overflow: hidden;   
                                    transform: rotate(-45deg);
                                    transition-duration:0.3s;
                                    transition-delay: 0.2s;
    
                                }
                            }
                            
                            //BLOCK DESCRIPTION
                            a{
                                margin-top: 15px;
                                width:150px;
                                text-decoration: none;
                                color:$color_blanco;
                                font-size: 16px;
                                background: $color-negro;
                                box-shadow: 0px 2px 3px $color-negro;
                                padding: 8px;
                                border-radius: 10px;
                                margin-left: initial;
                                border:2px solid $color_orange;
                                transition: 0.3s;
                                display: none;
                                .block__legend{
                                    width:100%;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    font-size: 14px;
                                    font-weight: 100;
                                    color: white;
                                }
                            }
    
                            &:hover{
                                .base__icon{
                                    border: 6px solid $color_orange;
                                    transform: rotate(20deg);
                                    box-shadow: 0px 0px 10px $color-negro;
                                    .block__icon{
                                        transform: rotate(-20deg);
                                    }
                                }
    
                                a{
                                    width:180px;
                                    border:1px solid $color_white;
                                    box-shadow: 3px 0px 0px $color_white;
                                }   
                            }   
                        }
    
                       
                    }
                    
                }
    
                .huella1{
                    width: 140px;
                    height: 140px;
                    position:absolute;
                    top: 420px;
                    left: calc(50% - 220px);
                    animation-name: moverPatas;
                    animation-duration: 4s;
                    animation-timing-function: ease-in;
                    animation-iteration-count: infinite;
                    animation-direction: alternate;
                    
                }
                
                .huella2{
                    width: 140px;
                    height: 140px;
                    position:absolute;
                    top: 350px;
                    right: calc(50% - 220px);
                    animation-name: moverPatas;
                    animation-duration: 4s;
                    animation-timing-function: ease-in;
                    animation-iteration-count: infinite;
                    animation-direction: alternate;
                }
    
                @keyframes moverPatas {
                    from{
                        transform: scale(1,1);
                    }to{
                        transform: scale(0.9,0.9);
    
                    }
                }
    
                .footer__text{
                    margin-top: 30px;
                    text-align: center;
                    font-size: 14px;
                    padding: 30px 0px;
                    font-weight: 300;
                    background: $color-negro;
                    color: white;
                    .span{
                        color:$color_orange;
                    }
                }
                
            }
    
        }
    
        
    
    
    }
    
}





/*******************************************
*******************************************/
@media (min-width:320px) and (max-width:480px){
    .continer__main{
        width: 100%;
        max-width: initial;
        padding:initial;
        margin: auto;
        background-image:url(../images/SERV4.jpg);
        background-size: 100% 100%;
        background-attachment: fixed;
        overflow: hidden;
        .main__base{
            width: 100%;
            height: 100%;
            padding:initial;
            background: rgba(255, 255, 255, 0.851)  ;   
            .container{
                width: 100%;
                padding: initial;
                margin: auto;
                border:initial;
                position: relative;

                .container__legend{
                    width:100%;
                    margin: auto;
                    text-align: center;
                    padding: 50px 20px;
                    .legend__title{
                        font-size: 39px;
                        font-weight: 700;
                        color: $color_verde;
                        font-family: Poppins;
                        //text-shadow: 2px 2px 2px$color_azul;
                       
                    }
                    .legend__legend{
                        margin-top: -12px;
                        font-size: 20px;
                        font-family: Poppins;
                        font-weight: 300;
                        
                        
                    }
    
                    .container_linea{
                        width:200px;
                        height: 4px;    
                        margin: 10px auto;
                        background: $color-verde;
                    }
    
                    .container__nav{
                        margin: auto;
                        width: 100%;
                        //padding: 5px;
                        .container__nav_ul{
                            margin: auto;
                            //background: yellow;
                            .container__nav_ul_li{
                                list-style: none;
                                padding:5px ;
                                .icon{
                                    font-size: 22px;
                                    color:$color-verde;
                                    padding: 0px 5px;
    
                                }
                                .link{
                                    text-align: center;
                                    text-decoration: none;
                                    font-size: 18px;
                                    color:$color-verde;
                                    padding: 0px 5px;
                                    border-left: 2px solid $color_verde;
                                    transition: 0.3s all;
                                }
                                &:hover{
                                    .link{
                                        color:$color-verde-oscuro;
                                        
    
                                    }
                                }
                            }
                        }
                    }
    
                    .legend__description{
                        width: 100%;
                        margin: 15px auto;
                        font-size: 16px;
                        font-family: Poppins;
                        font-weight: 100;
                        
                    }
                }
    
                .container__photo{
                    width: 160px;
                    height: 160px;
                    border: 3px solid $color_verde;
                    border-radius: 50%;
                    overflow: hidden;
                    margin: 10px auto;
                }
    
                .container__imagen{
                    width: 320px;
                    height: 320px;
                    margin: -10px auto;
                    
                }
            
                .containerBase__block{
                    width: 100%;
                    padding: 0px 0px;
                    margin: 10px auto;

                    .baseBlock{
                        width:calc(100% - 50px);
                        padding:0px;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-around;
                        align-items: flex-start;
                        margin: auto;
                        .container__block{
                            width: 80px;
                            padding: 8px 0px;
                            margin:10px auto;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-around;
                            align-items: center;

                            //BLOCK ICON
                            .base__icon{
                                background: $color_azul;
                                padding: 2px;
                                border-radius: 5px;
                                border: 6px solid $color-verde-oscuro;
                                transform: rotate(45deg);
                                box-shadow: -2.5px 2.5px 2px $color_orange;
                                transition:0.3s all;
                                overflow: hidden;
                                background:$color_blanco;
    
                                .block__icon{
                                    width: 45px;
                                    height: 45px;
                                    overflow: hidden;   
                                    transform: rotate(-45deg);
                                    transition-duration:0.3s;
                                    transition-delay: 0.2s;
    
                                }
                            }
                            
                            //BLOCK DESCRIPTION
                            a{
                                margin-top: 15px;
                                width:150px;
                                text-decoration: none;
                                color:$color_blanco;
                                font-size: 16px;
                                background: $color-negro;
                                box-shadow: 0px 2px 3px $color-negro;
                                padding: 8px;
                                border-radius: 10px;
                                margin-left: initial;
                                border:2px solid $color_orange;
                                transition: 0.3s;
                                display: none;
                                .block__legend{
                                    width:100%;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    font-size: 14px;
                                    font-weight: 100;
                                    color: white;
                                }
                            }
    
                            &:hover{
                                .base__icon{
                                    border: 6px solid $color_orange;
                                    transform: rotate(20deg);
                                    box-shadow: 0px 0px 10px $color-negro;
                                    .block__icon{
                                        transform: rotate(-20deg);
                                    }
                                }
    
                                a{
                                    width:180px;
                                    border:1px solid $color_white;
                                    box-shadow: 3px 0px 0px $color_white;
                                }   
                            }   
                        }
    
                       
                    }
                    
                }
    
                .huella1{
                    width: 130px;
                    height: 130px;
                    position:absolute;
                    top: 380px;
                    left: calc(50% - 190px);
                    animation-name: moverPatas;
                    animation-duration: 4s;
                    animation-timing-function: ease-in;
                    animation-iteration-count: infinite;
                    animation-direction: alternate;
                    
                }
                
                .huella2{
                    width: 130px;
                    height: 130px;
                    position:absolute;
                    top: 320px;
                    right: calc(50% - 180px);
                    animation-name: moverPatas;
                    animation-duration: 4s;
                    animation-timing-function: ease-in;
                    animation-iteration-count: infinite;
                    animation-direction: alternate;
                }
    
                @keyframes moverPatas {
                    from{
                        transform: scale(1,1);
                    }to{
                        transform: scale(0.9,0.9);
    
                    }
                }
    
                .footer__text{
                    margin-top: 30px;
                    text-align: center;
                    font-size: 14px;
                    padding: 30px 0px;
                    font-weight: 300;
                    background: $color-negro;
                    color: white;
                    .span{
                        color:$color_orange;
                    }
                }
                
            }
    
        }
    
        
    
    
    }
    
}









