@import "variables";



.cont__bloque{
    width: 80%;
    margin: auto;
    padding: 10px 0px;
    //BLOQUE A
    .cont__bloque__A{
        width: 100%;
        padding: 10px 0px;
        margin-bottom: 50px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        .cont__bloque__A_cuadro{
            width: 100%;
            padding: 10px 0px;
            margin: 5px;
            
            .cont__bloque__A_cuadro__title{
                text-align: center;
                font-size: 50px;
                color:$color-negro;
                letter-spacing: 2px;
                
            }
            
            .subcuadro{
                width: 100%;
                padding: 10px 0px;
                display: flex;
                margin-top: 20px;
                flex-wrap: wrap;
                flex-direction: row;
                justify-content: space-around;
                align-items:  center;
                
                .subcuadro__interno{
                    margin-bottom: 30px;
                    width: 220px;
                    padding: 30px;
                    background: rgb(234, 234, 234);
                    transition: 0.2s ease;
                    box-shadow: 1px 1px 2px black;
                    .subcuadro__interno__img{
                        width: 80px;
                        height: 80px;
                        margin: auto;
                        padding: 10px;
                        border-radius: 50%;
                        background: $color-verde;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        .iconJeringa1{
                            font-size:40px;
                            color: rgb(255, 255, 255);
                        }
                    }

                    .subcuadro__interno__text{
                        text-align: center;
                        color: $color-verde;
                        margin-top: 10px;
                        font-size: 20px;
                        font-weight: 700;
                    }

                    .subcuadro__interno__parraf{
                        text-align: center;
                        font-size: 14px;
                    }
                }

                .subcuadro__interno:hover{
                    cursor:pointer;
                    transform: scale(1.1,1.1);
                }
               
            }
        }    
    }
}




/********************************************************************************/
@media (min-width:1025px) and (max-width:1200px){
    .cont__bloque{
        width: 100%;
        margin: auto;
        padding: 10px 0px;
        //BLOQUE A
        .cont__bloque__A{
            width: 100%;
            padding: 10px 0px;
            margin-bottom: 50px;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
    
            .cont__bloque__A_cuadro{
                width: 100%;
                padding: 10px 0px;
                margin: 5px;
                
                .cont__bloque__A_cuadro__title{
                    text-align: center;
                    font-size: 50px;
                    color:$color-negro;
                    letter-spacing: 2px;
                    
                }
                
                .subcuadro{
                    width: 90%;
                    padding: 10px 0px;
                    display: flex;
                    margin-top: 20px;
                    flex-wrap: wrap;
                    flex-direction: row;
                    justify-content: space-around;
                    align-items:  center;
                    
                    .subcuadro__interno{
                        margin-bottom: 30px;
                        width: 200px;
                        padding: 30px;
                        background: rgb(234, 234, 234);
                        transition: 0.2s ease;
                        box-shadow: 1px 1px 2px black;
                        .subcuadro__interno__img{
                            width: 80px;
                            height: 80px;
                            margin: auto;
                            padding: 10px;
                            border-radius: 50%;
                            background: $color-verde;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            .iconJeringa1{
                                font-size:40px;
                                color: rgb(255, 255, 255);
                            }
                        }
    
                        .subcuadro__interno__text{
                            text-align: center;
                            color: $color-verde;
                            margin-top: 10px;
                            font-size: 20px;
                            font-weight: 700;
                        }
    
                        .subcuadro__interno__parraf{
                            text-align: center;
                            font-size: 14px;
                        }
                    }
    
                    .subcuadro__interno:hover{
                        cursor:pointer;
                        transform: scale(1.1,1.1);
                    }
                   
                }
            }    
        }
    }
    
}










/********************************************************************************/
@media (min-width:900px) and (max-width:1024px){
    .cont__bloque{
        width: 100%;
        margin: auto;
        padding: 10px 0px;
        .cont__bloque__A{
            width: 100%;
            padding: 10px 0px;
            margin-bottom: 50px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
    
            .cont__bloque__A_cuadro{
                width: 100%;
                padding: 10px 0px;
                margin: 5px;
                
                .cont__bloque__A_cuadro__title{
                    text-align: center;
                    font-size: 50px;
                    color:$color-negro;
                    letter-spacing: 2px;
                    
                }
                
                .subcuadro{
                    width: 100%;
                    padding: 10px 0px;
                    display: flex;
                    margin-top: 20px;
                    flex-wrap: wrap;
                    flex-direction: row;
                    justify-content: space-evenly;
                    align-items:  center;
                    
                    .subcuadro__interno{
                        margin-bottom: 30px;
                        width: 200px;
                        padding: 30px;
                        background: rgb(234, 234, 234);
                        transition: 0.2s ease;
                        box-shadow: 1px 1px 2px black;
                        .subcuadro__interno__img{
                            width: 80px;
                            height: 80px;
                            margin: auto;
                            padding: 10px;
                            border-radius: 50%;
                            background: $color-verde;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            .iconJeringa1{
                                font-size:40px;
                                color: rgb(255, 255, 255);
                            }
                        }
    
                        .subcuadro__interno__text{
                            text-align: center;
                            color: $color-verde;
                            margin-top: 10px;
                            font-size: 20px;
                            font-weight: 700;
                        }
    
                        .subcuadro__interno__parraf{
                            text-align: center;
                            font-size: 14px;
                        }
                    }
    
                    .subcuadro__interno:hover{
                        cursor:pointer;
                        transform: scale(1.1,1.1);
                    }
                   
                }
            }    
        }
        
    }
    
}







/********************************************************************************/
@media (min-width:771px) and (max-width:899px){
    .cont__bloque{
        width: 100%;
        margin: auto;
        padding: 10px 0px;
        .cont__bloque__A{
            width: 100%;
            padding: 10px 0px;
            margin-bottom: 50px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            .cont__bloque__A_cuadro{
                width: 100%;
                padding: 10px 0px;
                margin: 5px;
                
                .cont__bloque__A_cuadro__title{
                    text-align: center;
                    font-size: 50px;
                    color:$color-negro;
                    letter-spacing: 2px;
                    
                }
                
                .subcuadro{
                    width: 80%;
                    padding: 10px 0px;
                    display: flex;
                    margin: 20px auto;
                    flex-wrap: wrap;
                    flex-direction: row;
                    justify-content: space-evenly;
                    align-items:  center;

                    .subcuadro__interno{
                        margin-bottom: 30px;
                        width: 250px;
                        padding: 70px 30px;
                        background: rgb(234, 234, 234);
                        transition: 0.2s ease;
                        box-shadow: 1px 1px 2px black;
                        .subcuadro__interno__img{
                            width: 80px;
                            height: 80px;
                            margin: auto;
                            padding: 10px;
                            border-radius: 50%;
                            background: $color-verde;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            .iconJeringa1{
                                font-size:40px;
                                color: rgb(255, 255, 255);
                            }
                        }
    
                        .subcuadro__interno__text{
                            text-align: center;
                            color: $color-verde;
                            margin-top: 10px;
                            font-size: 20px;
                            font-weight: 700;
                        }
    
                        .subcuadro__interno__parraf{
                            text-align: center;
                            font-size: 14px;
                        }
                    }
    
                    .subcuadro__interno:hover{
                        cursor:pointer;
                        transform: scale(1.1,1.1);
                    }
                   
                }
            }    
        }
        
    }
    
}





/********************************************************************************/
@media (min-width:641px) and (max-width:770px){
    .cont__bloque{
        width: 100%;
        margin: auto;
        padding: 10px 0px;
        .cont__bloque__A{
            width: 100%;
            padding: 10px 0px;
            margin-bottom: 50px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            .cont__bloque__A_cuadro{
                width: 100%;
                padding: 10px 0px;
                margin: 5px;
                
                .cont__bloque__A_cuadro__title{
                    text-align: center;
                    font-size: 50px;
                    color:$color-negro;
                    letter-spacing: 2px;
                    
                }
                
                .subcuadro{
                    width: 90%;
                    padding: 10px 0px;
                    display: flex;
                    margin: 20px auto;
                    flex-wrap: wrap;
                    flex-direction: row;
                    justify-content: space-evenly;
                    align-items:  center;

                    .subcuadro__interno{
                        margin-bottom: 30px;
                        width: 250px;
                        padding: 70px 30px;
                        background: rgb(234, 234, 234);
                        transition: 0.2s ease;
                        box-shadow: 1px 1px 2px black;
                        .subcuadro__interno__img{
                            width: 80px;
                            height: 80px;
                            margin: auto;
                            padding: 10px;
                            border-radius: 50%;
                            background: $color-verde;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            .iconJeringa1{
                                font-size:40px;
                                color: rgb(255, 255, 255);
                            }
                        }
    
                        .subcuadro__interno__text{
                            text-align: center;
                            color: $color-verde;
                            margin-top: 10px;
                            font-size: 20px;
                            font-weight: 700;
                        }
    
                        .subcuadro__interno__parraf{
                            text-align: center;
                            font-size: 14px;
                        }
                    }
    
                    .subcuadro__interno:hover{
                        cursor:pointer;
                        transform: scale(1.1,1.1);
                    }
                   
                }
            }    
        }
        
    }
    
}







/********************************************************************************/
@media (min-width:481px) and (max-width:640px){
    .cont__bloque{
        width: 100%;
        margin: auto;
        padding: 10px 0px;
        .cont__bloque__A{
            width: 100%;
            padding: 10px 0px;
            margin-bottom: 50px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            .cont__bloque__A_cuadro{
                width: 100%;
                padding: 10px 0px;
                margin: 5px;
                
                .cont__bloque__A_cuadro__title{
                    text-align: center;
                    font-size: 50px;
                    color:$color-negro;
                    letter-spacing: 2px;
                    
                }
                
                .subcuadro{
                    width:95%;
                    padding: 10px 0px;
                    display: flex;
                    margin: 20px auto;
                    flex-wrap: wrap;
                    flex-direction: row;
                    justify-content: space-evenly;
                    align-items:  center;

                    .subcuadro__interno{
                        margin-bottom: 30px;
                        width: 210px;
                        padding: 50px 30px;
                        background: rgb(234, 234, 234);
                        transition: 0.2s ease;
                        box-shadow: 1px 1px 2px black;
                        .subcuadro__interno__img{
                            width: 80px;
                            height: 80px;
                            margin: auto;
                            padding: 10px;
                            border-radius: 50%;
                            background: $color-verde;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            .iconJeringa1{
                                font-size:40px;
                                color: rgb(255, 255, 255);
                            }
                        }
    
                        .subcuadro__interno__text{
                            text-align: center;
                            color: $color-verde;
                            margin-top: 10px;
                            font-size: 20px;
                            font-weight: 700;
                        }
    
                        .subcuadro__interno__parraf{
                            text-align: center;
                            font-size: 14px;
                        }
                    }
    
                    .subcuadro__interno:hover{
                        cursor:pointer;
                        transform: scale(1.1,1.1);
                    }
                   
                }
            }    
        }
        
    }
    
}







/********************************************************************************/
@media (min-width:423px) and (max-width:480px){
    .cont__bloque{
        width: 100%;
        margin: auto;
        padding: 10px 0px;
        .cont__bloque__A{
            width: 100%;
            padding: 10px 0px;
            margin-bottom: 50px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            .cont__bloque__A_cuadro{
                width: 100%;
                padding: 10px 0px;
                margin: 5px;
                
                .cont__bloque__A_cuadro__title{
                    text-align: center;
                    font-size: 50px;
                    color:$color-negro;
                    letter-spacing: 2px;
                    
                }
                
                .subcuadro{
                    width:95%;
                    padding: 10px 0px;
                    display: flex;
                    margin: 20px auto;
                    flex-wrap: wrap;
                    flex-direction: row;
                    justify-content: space-evenly;
                    align-items:  center;

                    .subcuadro__interno{
                        margin-bottom: 30px;
                        width: 300px;
                        padding: 80px 30px;
                        background: rgb(234, 234, 234);
                        transition: 0.2s ease;
                        box-shadow: 1px 1px 2px black;
                        .subcuadro__interno__img{
                            width: 80px;
                            height: 80px;
                            margin: auto;
                            padding: 10px;
                            border-radius: 50%;
                            background: $color-verde;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            .iconJeringa1{
                                font-size:40px;
                                color: rgb(255, 255, 255);
                            }
                        }
    
                        .subcuadro__interno__text{
                            text-align: center;
                            color: $color-verde;
                            margin-top: 10px;
                            font-size: 20px;
                            font-weight: 700;
                        }
    
                        .subcuadro__interno__parraf{
                            text-align: center;
                            font-size: 14px;
                        }
                    }
    
                    .subcuadro__interno:hover{
                        cursor:pointer;
                        transform: scale(1.1,1.1);
                    }
                   
                }
            }    
        }
        
    }
    
}










