@import "variables";



.cont__bloque{
    width: 80%;
    margin: auto;
    padding: 10px 0px;
    //BLOQUE A
    .cont__bloque__A{
        width: 100%;
        padding: 10px 0px;
        margin-bottom: 50px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        .cont__bloque__A_cuadro{
            width: 100%;
            padding: 10px 0px;
            margin: 5px;
            
            .cont__bloque__A_cuadro__title{
                text-align: center;
                font-size: 50px;
                color:$color-negro;
                letter-spacing: 2px;
                
            }
            
            .subcuadro{
                width: 100%;
                padding: 10px 0px;
                display: flex;
                margin-top: 20px;
                flex-wrap: wrap;
                flex-direction: row;
                justify-content: space-around;
                align-items:  center;
                
                .subcuadro__interno{
                    margin-bottom: 30px;
                    width: 220px;
                    padding: 30px;
                    background: rgb(234, 234, 234);
                    transition: 0.2s ease;
                    box-shadow: 1px 1px 2px black;
                    .subcuadro__interno__img{
                        width: 80px;
                        height: 80px;
                        margin: auto;
                        padding: 10px;
                        border-radius: 50%;
                        background: $color-verde;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        .iconJeringa1{
                            font-size:40px;
                            color: rgb(255, 255, 255);
                        }
                    }

                    .subcuadro__interno__text{
                        text-align: center;
                        color: $color-verde;
                        margin-top: 10px;
                        font-size: 20px;
                        font-weight: 700;
                    }

                    .subcuadro__interno__parraf{
                        text-align: center;
                        font-size: 14px;
                    }
                }

                .subcuadro__interno:hover{
                    cursor:pointer;
                    transform: scale(1.1,1.1);
                }
               
            }
        }    
    }










    //BLOQUE B
    .cont__bloque__B{
        width: 100%;
        padding: 10px 0px;
        margin-bottom: 50px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        align-items: center;
        .cont__bloque__B_cuadro{
            width: 100%;
            padding: 10px 0px;
            margin: 5px;

            .cont__bloque__B_cuadro__title{
                text-align: center;
                font-size: 50px;
                color:$color-verde;
                letter-spacing: 5px;
            }
            
            .subcuadro{
                width: 100%;
                padding: 10px 0px;
                margin-top: 30px;
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                justify-content: space-around;
                align-items:  center;
                .subcuadro__interno{
                    margin-bottom: 30px;
                    width: 200px;
                    padding: 30px 10px;
                    background: $color-negro;
                    border-radius: 10px;
                    box-shadow: 0px 0px 5px black;
                    transition: 0.2s ease;
                    .subcuadro__interno__img{
                        width: 80px;
                        height: 80px;
                        margin: auto;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        .iconJeringa1{
                            font-size:60px;
                            color: rgb(41, 245, 72);
                        }

                        .iconJeringa2{
                            font-size:60px;
                            color: rgb(255, 101, 227);
                        }

                        .iconJeringa3{
                            font-size:60px;
                            color: rgb(102, 176, 255);
                        }

                        .iconJeringa4{
                            font-size:60px;
                            color: rgb(255, 108, 194);
                        }
                    }

                    .subcuadro__interno__text{
                        text-align: center;
                        color: white;
                        font-size: 18px;
                        font-weight: 300;
                        letter-spacing: 2px;
                    }
                }

                .subcuadro__interno:hover{
                    cursor:pointer;
                    transform: scale(1.1,1.1);
                }
               
            }
        }    
    }
    
}















/********************************************************************************/
@media (min-width:1025px) and (max-width:1200px){
    .cont__bloque{
        width: 90%;
        margin: auto;
        padding: 10px 0px;

    
        //BLOQUE A
        .cont__bloque__A{
            width: 100%;
            padding: 10px 0px;
            margin-bottom: 50px;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            .cont__bloque__A_cuadro{
                width: 100%;
                padding: 10px 0px;
                margin: 5px;
    
                .cont__bloque__A_cuadro__title{
                    text-align: center;
                    font-size: 50px;
                    letter-spacing: 2px;
                    
                }
                
                .subcuadro{
                    width: 100%;
                    padding: 10px 0px;
                    display: flex;
                    margin-top: 30px;
                    flex-wrap: wrap;
                    flex-direction: row;
                    justify-content: space-around;
                    align-items:  center;
                    .subcuadro__interno{
                        margin-bottom: 30px;
                        width: 200px;
                        padding: 30px 10px;
                        background: $color-negro;
                        border-radius: 10px;
                        box-shadow: 0px 0px 5px black;
                        transition: 0.2s ease;
                        .subcuadro__interno__img{
                            width: 80px;
                            height: 80px;
                            margin: auto;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            .iconJeringa1{
                                font-size:60px;
                                color: rgb(255, 43, 43);
                            }
    
                            .iconJeringa2{
                                font-size:60px;
                                color: rgb(218, 255, 149);
                            }
    
                            .iconJeringa3{
                                font-size:60px;
                                color: rgb(102, 176, 255);
                            }
    
                            .iconJeringa4{
                                font-size:60px;
                                color: rgb(255, 108, 194);
                            }
                        }
    
                        .subcuadro__interno__text{
                            text-align: center;
                            color: white;
                            font-size: 18px;
                            font-weight: 300;
                            letter-spacing: 2px;
                        }
                    }
    
                    .subcuadro__interno:hover{
                        cursor:pointer;
                        transform: scale(1.1,1.1);
                    }
                   
                }
            }    
        }
    
        //BLOQUE B
        .cont__bloque__B{
            width: 100%;
            padding: 10px 0px;
            margin-bottom: 50px;
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-around;
            align-items: center;
            .cont__bloque__B_cuadro{
                width: 100%;
                padding: 10px 0px;
                margin: 5px;
    
                .cont__bloque__B_cuadro__title{
                    text-align: center;
                    font-size: 50px;
                    letter-spacing: 5px;
                }
                
                .subcuadro{
                    width: 100%;
                    padding: 10px 0px;
                    margin-top: 30px;
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: row;
                    justify-content: space-around;
                    align-items:  center;
                    .subcuadro__interno{
                        margin-bottom: 30px;
                        width: 200px;
                        padding: 30px 10px;
                        background: $color-negro;
                        border-radius: 10px;
                        box-shadow: 0px 0px 5px black;
                        transition: 0.2s ease;
                        .subcuadro__interno__img{
                            width: 80px;
                            height: 80px;
                            margin: auto;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            .iconJeringa1{
                                font-size:60px;
                                color: rgb(41, 245, 72);
                            }
    
                            .iconJeringa2{
                                font-size:60px;
                                color: rgb(255, 101, 227);
                            }
    
                            .iconJeringa3{
                                font-size:60px;
                                color: rgb(102, 176, 255);
                            }
    
                            .iconJeringa4{
                                font-size:60px;
                                color: rgb(255, 108, 194);
                            }
                        }
    
                        .subcuadro__interno__text{
                            text-align: center;
                            color: white;
                            font-size: 18px;
                            font-weight: 300;
                            letter-spacing: 2px;
                        }
                    }
    
                    .subcuadro__interno:hover{
                        cursor:pointer;
                        transform: scale(1.1,1.1);
                    }
                   
                }
            }    
        }
        
    }
    
}









/********************************************************************************/
@media (min-width:900px) and (max-width:1024px){
    .cont__bloque{
        width: 95%;
        margin: auto;
        padding: 10px 0px;
        //BLOQUE A
        .cont__bloque__A{
            width: 100%;
            padding: 10px 0px;
            margin-bottom: 20px;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            .cont__bloque__A_cuadro{
                width: 90%;
                padding: 10px 0px;
                margin: 5px;
    
                .cont__bloque__A_cuadro__title{
                    text-align: center;
                    font-size: 45px;
                    letter-spacing: 0px;
                    
                }
                
                .subcuadro{
                    width: 100%;
                    padding: 10px 0px;
                    display: flex;
                    margin-top: 20px;
                    flex-wrap: wrap;
                    flex-direction: row;
                    justify-content: space-around;
                    align-items:  center;
                    .subcuadro__interno{
                        margin-bottom: 30px;
                        width: 185px;
                        padding: 30px 10px;
                        background: $color-negro;
                        border-radius: 10px;
                        box-shadow: 0px 0px 5px black;
                        transition: 0.2s ease;
                        .subcuadro__interno__img{
                            width: 70px;
                            height: 70px;
                            margin: auto;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            .iconJeringa1{
                                font-size:50px;
                                color: rgb(255, 43, 43);
                            }
    
                            .iconJeringa2{
                                font-size:50px;
                                color: rgb(218, 255, 149);
                            }
    
                            .iconJeringa3{
                                font-size:50px;
                                color: rgb(102, 176, 255);
                            }
    
                            .iconJeringa4{
                                font-size:50px;
                                color: rgb(255, 108, 194);
                            }
                        }
    
                        .subcuadro__interno__text{
                            text-align: center;
                            color: white;
                            font-size: 16px;
                            font-weight: 300;
                            letter-spacing: 2px;
                        }
                    }
    
                    .subcuadro__interno:hover{
                        cursor:pointer;
                        transform: scale(1.1,1.1);
                    }
                   
                }
            }    
        }
    
        //BLOQUE B
        .cont__bloque__B{
            width: 100%;
            padding: 10px 0px;
            margin-bottom: 50px;
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-around;
            align-items: center;
            .cont__bloque__B_cuadro{
                width: 95%;
                padding: 10px 0px;
                margin: 5px;
    
                .cont__bloque__B_cuadro__title{
                    text-align: center;
                    font-size: 45px;
                    letter-spacing: 0px;
                }
                
                .subcuadro{
                    width: 100%;
                    padding: 10px 0px;
                    margin-top: 30px;
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: row;
                    justify-content: space-around;
                    align-items:  center;
                    .subcuadro__interno{
                        margin-bottom: 30px;
                        width: 200px;
                        padding: 30px 10px;
                        background: $color-negro;
                        border-radius: 10px;
                        box-shadow: 0px 0px 5px black;
                        transition: 0.2s ease;
                        .subcuadro__interno__img{
                            width: 80px;
                            height: 80px;
                            margin: auto;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            .iconJeringa1{
                                font-size:50px;
                                color: rgb(41, 245, 72);
                            }
    
                            .iconJeringa2{
                                font-size:50px;
                                color: rgb(255, 101, 227);
                            }
    
                        }
    
                        .subcuadro__interno__text{
                            text-align: center;
                            color: white;
                            font-size: 16px;
                            font-weight: 300;
                            letter-spacing: 2px;
                        }
                    }
    
                    .subcuadro__interno:hover{
                        cursor:pointer;
                        transform: scale(1.1,1.1);
                    }
                   
                }
            }    
        }
        
    }
    
    
}









/********************************************************************************/
@media (min-width:641px) and (max-width:899px){
    .cont__bloque{
        width: 100%;
        margin: auto;
        padding: 10px 0px;
        //BLOQUE A
        .cont__bloque__A{
            width: 600px;
            padding: 10px 0px;
            margin: 20px auto;
            display: flex;
            flex-direction: column-reverse;
            justify-content: space-around;
            align-items: center;
            .cont__bloque__A_cuadro{
                width: 100%;
                padding: 10px 0px;
                margin: 5px;
    
                .cont__bloque__A_cuadro__title{
                    text-align: center;
                    font-size: 45px;
                    letter-spacing: 0px;
                    
                }
                
                .subcuadro{
                    width: 100%;
                    padding: 10px 0px;
                    display: flex;
                    margin-top: 20px;
                    flex-wrap: wrap;
                    flex-direction: row;
                    justify-content: space-around;
                    align-items:  center;
                    .subcuadro__interno{
                        margin-bottom: 30px;
                        width: 220px;
                        padding: 30px 10px;
                        background: $color-negro;
                        border-radius: 10px;
                        box-shadow: 0px 0px 5px black;
                        transition: 0.2s ease;
                        .subcuadro__interno__img{
                            width: 70px;
                            height: 70px;
                            margin: auto;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            .iconJeringa1{
                                font-size:50px;
                                color: rgb(255, 43, 43);
                            }
    
                            .iconJeringa2{
                                font-size:50px;
                                color: rgb(218, 255, 149);
                            }
    
                            .iconJeringa3{
                                font-size:50px;
                                color: rgb(102, 176, 255);
                            }
    
                            .iconJeringa4{
                                font-size:50px;
                                color: rgb(255, 108, 194);
                            }
                        }
    
                        .subcuadro__interno__text{
                            text-align: center;
                            color: white;
                            font-size: 16px;
                            font-weight: 300;
                            letter-spacing: 2px;
                        }
                    }
    
                    .subcuadro__interno:hover{
                        cursor:pointer;
                        transform: scale(1.1,1.1);
                    }
                   
                }
            }    
        }
    
        //BLOQUE B
        .cont__bloque__B{
            width: 600px;
            padding: 10px 0px;
            margin: 50px auto;
            display: flex;
            flex-direction: column-reverse;
            justify-content: space-around;
            align-items: center;
            .cont__bloque__B_cuadro{
                width: 95%;
                padding: 10px 0px;
                margin: 5px;
    
                .cont__bloque__B_cuadro__title{
                    text-align: center;
                    font-size: 45px;
                    letter-spacing: 0px;
                }
                
                .subcuadro{
                    width: 100%;
                    padding: 10px 0px;
                    margin-top: 30px;
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: row;
                    justify-content: space-around;
                    align-items:  center;
                    .subcuadro__interno{
                        margin-bottom: 30px;
                        width: 220px;
                        padding: 30px 10px;
                        background: $color-negro;
                        border-radius: 10px;
                        box-shadow: 0px 0px 5px black;
                        transition: 0.2s ease;
                        .subcuadro__interno__img{
                            width: 80px;
                            height: 80px;
                            margin: auto;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            .iconJeringa1{
                                font-size:50px;
                                color: rgb(41, 245, 72);
                            }
    
                            .iconJeringa2{
                                font-size:50px;
                                color: rgb(255, 101, 227);
                            }
    
                        }
    
                        .subcuadro__interno__text{
                            text-align: center;
                            color: white;
                            font-size: 16px;
                            font-weight: 300;
                            letter-spacing: 2px;
                        }
                    }
    
                    .subcuadro__interno:hover{
                        cursor:pointer;
                        transform: scale(1.1,1.1);
                    }
                   
                }
            }    
        }
        
    }
    
    
}










/********************************************************************************/
@media (min-width:481px) and (max-width:640px){
    .cont__bloque{
        width: 100%;
        margin: auto;
        padding: 10px 0px;
        //BLOQUE A
        .cont__bloque__A{
            width: 100%;
            padding: 10px 0px;
            margin: 20px auto;
            display: flex;
            flex-direction: column-reverse;
            justify-content: space-around;
            align-items: center;
            .cont__bloque__A_cuadro{
                width: 100%;
                padding: 10px 0px;
                margin: 5px;
    
                .cont__bloque__A_cuadro__title{
                    text-align: center;
                    font-size: 45px;
                    letter-spacing: 0px;
                    
                }
                
                .subcuadro{
                    width: 85%;
                    padding: 10px 0px;
                    display: flex;
                    margin: 10px auto;
                    flex-wrap: wrap;
                    flex-direction: row;
                    justify-content: space-evenly;
                    align-items:  center;
                    .subcuadro__interno{
                        margin-bottom: 30px;
                        width: 180px;
                        padding: 30px 10px;
                        background: $color-negro;
                        border-radius: 10px;
                        box-shadow: 0px 0px 5px black;
                        transition: 0.2s ease;
                        .subcuadro__interno__img{
                            width: 70px;
                            height: 70px;
                            margin: auto;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            .iconJeringa1{
                                font-size:50px;
                                color: rgb(255, 43, 43);
                            }
    
                            .iconJeringa2{
                                font-size:50px;
                                color: rgb(218, 255, 149);
                            }
    
                            .iconJeringa3{
                                font-size:50px;
                                color: rgb(102, 176, 255);
                            }
    
                            .iconJeringa4{
                                font-size:50px;
                                color: rgb(255, 108, 194);
                            }
                        }
    
                        .subcuadro__interno__text{
                            text-align: center;
                            color: white;
                            font-size: 16px;
                            font-weight: 300;
                            letter-spacing: 2px;
                        }
                    }
    
                    .subcuadro__interno:hover{
                        cursor:pointer;
                        transform: scale(1.1,1.1);
                    }
                   
                }
            }    
        }
    
        //BLOQUE B
        .cont__bloque__B{
            width: 100%;
            padding: 10px 0px;
            margin: 100px auto;
            display: flex;
            flex-direction: column-reverse;
            justify-content: space-around;
            align-items: center;
            .cont__bloque__B_cuadro{
                width: 100%;
                padding: 10px 0px;
                margin: 5px auto;
                .cont__bloque__B_cuadro__title{
                    text-align: center;
                    font-size: 45px;
                    letter-spacing: 0px;
                }
                
                .subcuadro{
                    width: 85%;
                    padding: 10px 0px;
                    margin: 10px auto;
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: row;
                    justify-content: space-evenly;
                    align-items:  center;
                    .subcuadro__interno{
                        margin: 5px auto;
                        width: 180px;
                        padding: 30px 10px;
                        background: $color-negro;
                        border-radius: 10px;
                        box-shadow: 0px 0px 5px black;
                        transition: 0.2s ease;
                        .subcuadro__interno__img{
                            width: 70px;
                            height: 70px;
                            margin: auto;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            .iconJeringa1{
                                font-size:50px;
                                color: rgb(41, 245, 72);
                            }
    
                            .iconJeringa2{
                                font-size:50px;
                                color: rgb(255, 101, 227);
                            }
    
                        }
    
                        .subcuadro__interno__text{
                            text-align: center;
                            color: white;
                            font-size: 16px;
                            font-weight: 300;
                            letter-spacing: 2px;
                        }
                    }
    
                    .subcuadro__interno:hover{
                        cursor:pointer;
                        transform: scale(1.1,1.1);
                    }
                   
                }
            }    
        }
        
    }
    
    
    
}









/********************************************************************************/
@media (min-width:320px) and (max-width:480px){
    .cont__bloque{
        width: 100%;
        margin: auto;
        padding: 10px 0px;
        //BLOQUE A
        .cont__bloque__A{
            width: 100%;
            padding: 10px 0px;
            margin: 20px auto;
            display: flex;
            flex-direction: column-reverse;
            justify-content: space-around;
            align-items: center;
            .cont__bloque__A_cuadro{
                width: 100%;
                padding: 10px 0px;
                margin: 5px;
    
                .cont__bloque__A_cuadro__title{
                    text-align: center;
                    font-size: 45px;
                    letter-spacing: 0px;
                    
                }
                
                .subcuadro{
                    width: 100%;
                    padding: 10px 0px;
                    display: flex;
                    margin: 10px auto;
                    flex-wrap: wrap;
                    flex-direction: row;
                    justify-content: space-evenly;
                    align-items:  center;
                    .subcuadro__interno{
                        margin-bottom: 30px;
                        width: 280px;
                        padding: 30px 10px;
                        background: $color-negro;
                        border-radius: 10px;
                        box-shadow: 0px 0px 5px black;
                        transition: 0.2s ease;
                        .subcuadro__interno__img{
                            width: 70px;
                            height: 70px;
                            margin: auto;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            .iconJeringa1{
                                font-size:50px;
                                color: rgb(255, 43, 43);
                            }
    
                            .iconJeringa2{
                                font-size:50px;
                                color: rgb(218, 255, 149);
                            }
    
                            .iconJeringa3{
                                font-size:50px;
                                color: rgb(102, 176, 255);
                            }
    
                            .iconJeringa4{
                                font-size:50px;
                                color: rgb(255, 108, 194);
                            }
                        }
    
                        .subcuadro__interno__text{
                            text-align: center;
                            color: white;
                            font-size: 16px;
                            font-weight: 300;
                            letter-spacing: 2px;
                        }
                    }
    
                    .subcuadro__interno:hover{
                        cursor:pointer;
                        transform: scale(1.1,1.1);
                    }
                   
                }
            }    
        }
    
        //BLOQUE B
        .cont__bloque__B{
            width: 100%;
            padding: 10px 0px;
            margin: 50px auto;
            display: flex;
            flex-direction: column-reverse;
            justify-content: space-around;
            align-items: center;
            .cont__bloque__B_cuadro{
                width: 100%;
                padding: 10px 0px;
                margin: 5px auto;
                .cont__bloque__B_cuadro__title{
                    text-align: center;
                    font-size: 45px;
                    letter-spacing: 0px;
                }
                
                .subcuadro{
                    width: 85%;
                    padding: 10px 0px;
                    margin: 10px auto;
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: row;
                    justify-content: space-evenly;
                    align-items:  center;
                    .subcuadro__interno{
                        margin: 5px auto;
                        width: 280px;
                        padding: 30px 10px;
                        background: $color-negro;
                        border-radius: 10px;
                        box-shadow: 0px 0px 5px black;
                        transition: 0.2s ease;
                        .subcuadro__interno__img{
                            width: 70px;
                            height: 70px;
                            margin: auto;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            .iconJeringa1{
                                font-size:50px;
                                color: rgb(41, 245, 72);
                            }
    
                            .iconJeringa2{
                                font-size:50px;
                                color: rgb(255, 101, 227);
                            }
    
                        }
    
                        .subcuadro__interno__text{
                            text-align: center;
                            color: white;
                            font-size: 16px;
                            font-weight: 300;
                            letter-spacing: 2px;
                        }
                    }
    
                    .subcuadro__interno:hover{
                        cursor:pointer;
                        transform: scale(1.1,1.1);
                    }
                   
                }
            }    
        }
        
    }
    
    
    
}