$color_orange:#58bec3;
$color_azul:#191f2d;
$color_rosa:#fa7c28;
$color_white:rgb(255, 255, 255);


$color_verde:rgb(17, 83, 86);
$color_amarillo:#fbf928;
$color_blanco:white;
$color-negro:rgb(32, 32, 32);





//
    $color-verde-oscuro:#10aeb9af;
    $color-verdea:#10aeb99d;
    $color-plomizo:rgb(240, 240, 240);
    
    $color-negroTransparente:rgba(32, 32, 32, 0.822);
    $color-rojizo:rgb(255, 74, 74);
    $color-amarillo:rgb(255, 255, 74);