@import "variables";
@import "styles";
@import "servicios";
@import "estudios";

@font-face{
    src: url(../fonts/CapricaSansPersonalUse.ttf);
    font-family: "Caprica Sans";
}   

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    //font-family: "Typo Round";
    color:black;
}



