@import "variables";
@import "styles";


/*@font-face{
    src: url(../fonts/Typo_Round_Regular_Demo.otf);
    font-family: "Typo Round";
}*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    //font-family: "Typo Round";
    color:black;
}



